.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 2px solid #000;
    border-radius: 10px;
    height: 450px;
    width: 480px;
    background-color: white;
   
  }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
  }
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}
a {
    text-decoration: none;
    color: grey;
}
a:hover{
   text-decoration: none;
   color: black; 
   transition: color 0.5s ease; 
}

.form-group{
    padding-bottom: 8px;
}

.main-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 100px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/011/813/624/non_2x/retro-distressed-texture-free-vector.jpg");
    
  }