<div class="main-box">
  <div class="content">
    <div class="animals-box">
      <div class="animal" *ngFor="let animal of animals">
        <div class="profile">
          <div class="img">
            <img [src]="animal.image" alt="">
          </div>
          <div class="details">
            <div class="main-fact">
              <div>
                <span>Name:</span>
                <span>Breed:</span>
                <span>Age:</span>
              </div>
              <div>
                <span>{{animal.name}}</span>
                <span>{{animal.breed}}</span>
                <span>{{animal.age}}</span>
              </div>
            </div>
            <div class="description">
              <span>Description:</span>
              <span>{{animal.description}}</span>
            </div>
            <div class="btnn">
              <button [routerLink]="'/admin-animal/edit-animal/'+ animal.animalId">Edit</button>
              <button (click)="delete(animal.animalId)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-animal-create></app-animal-create>
  </div>
</div>