@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.main-box{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-height: 91vh;
  background-color: #cdd5db;
}
.content{
  width: 100%;
  min-height: 91vh;
  display: flex;
  flex-direction: row;
}
.animals-box{
  width: 50%;
  height: auto;
}
.animal{
  width: 100%;
  min-height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #3c3e44;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.profile{
  display: flex;
  flex-direction: row;
  color: white;
}
.img img{
  width: 300px;
  height: 300px;
  object-fit:cover;
}
.main-fact div{
  width: 200px;
  display:  flex;
  flex-direction: column;
  font-size: 22px;

}
.main-fact{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.description{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
  font-size: 18px;
  margin-left: 10px;
}
button{
  width: 140px;
  height: 40px;
  margin: auto;
  border: none;
  background: #f6f2ee;
  color: #242e25;
  font-size:18px;
  border-radius: 30px;
  outline: none;
  margin-top: 10px;
}
.btnn{
  border: none;
  width: 450px;
  display:  flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}