<body>
    <div class="container">
      <div class="container-md">
        <div class="header mb-4">
          <span class="h4">Create News</span>
        </div>
        <form>
          <div class="mb-3">
            <label for="Name" class="form-label">Image:</label>
            <div class="d-flex align-items-center">
              <img src="trustPath" alt="" class="img-thumbnail me-3" style="max-width: 100px;">
              <input type="file" name="image" class="form-control" (change)="onFileChange($event)" id="image">
            </div>
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">title:</label>
            <input type="text" name="title" class="form-control" id="title" [(ngModel)]="news.title">
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">content:</label>
            <textarea name="content" class="form-control" id="content" [(ngModel)]="news.content"></textarea>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="summary" class="form-label">summary:</label>
              <input type="text" name="summary" class="form-control" id="summary" [(ngModel)]="news.summary">
            </div>
            <div class="col-md-6 mb-3">
              <label for="author" class="form-label">author:</label>
              <input type="text" name="author" class="form-control" id="author" [(ngModel)]="news.author">
            </div>
          </div>
          
          <div class="btns">
            <button type="submit" name="stage7" class="btn btn-primary me-2" [routerLink]="['/admin-news']" (click)="onCreate()">Submit</button>
            <button class="btn btn-secondary" [routerLink]="['/admin-product']">Back</button>
          </div>
        </form>
       
      </div>
    </div>
  </body>