@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.main-box{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    margin-top: 10px;
    width: 650px;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;    margin-left: 70px;
    // background-color: #dde1ed;
    background-color: #abafb4;
    border-radius: 10px;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.title{
    display: flex;
    justify-content: center;
}
.title span{
    font-size: 30px;
}
input{
   
    width: 40%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid black;
    color: black;
    background-color: #abafb4;
}
.custom-file-upload {
    display: inline-block;
    width: 250px;
    text-align: center;
    padding: 10px 22px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#file-upload {
    display: none;
}
textarea{
    margin-top: 20px;
    width: 600px;
    height: 200px;
    max-height: 200px;
    min-height: 100px;
    margin-left: 25px;
    background-color: #abafb4;
    outline:  none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
::placeholder{
    color: black;
}
.main-box button{
    width: 300px;
    height: 50px;
    margin: auto;
    border: none;
    background: black;
    color: white;
    font-size:18px;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
    margin-left:170px;
}