<div class="main-box">
  <div class="title">
    <span>Create news</span>
  </div>
  <div class="input">
    <input type="text" placeholder="Title"[(ngModel)]="news.title">
    <input type="text" placeholder="Author" [(ngModel)]="news.author" >
  </div>
  <textarea name="description" placeholder="content" [(ngModel)]="news.content"></textarea>
  <div class="input">
    <input type="text" placeholder="Summary" [(ngModel)]="news.summary">
    <div>
      <label for="file-upload" class="custom-file-upload">
        Upload photo
    </label>
    <input id="file-upload" type="file" (change)="onFileChange($event)">
    </div>
   
  </div>
  <button (click)="onCreate()">Create</button>
  <button [routerLink]="'/admin'">Back</button>
</div>