<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
  <title>News Detail</title>
</head>
<body>
  <div class="news-detail-container" *ngIf="news">
    <h2 class="news-detail-title">{{ news.title }}</h2>
    <div class="img-wrapper">
        <img [src]="news.image" alt="{{ news.title }}" class="news-detail-image">
    </div>
    
    <div class="news-detail-content">{{ news.content }}</div>

    <br>
    
    <div class="news-detail-meta">
        Summary: {{ news.summary }}
      </div>

    Author: {{ news.author }}<br>
    <a routerLink="/news" class="back-link">
      <span class="material-symbols-outlined">arrow_back</span>
      Back to News
    </a>
  </div>
  
</body>
</html>
