<div class="body">
  <div class="container">
    <div class="animal-info">
      <div
        *ngIf="animal"
        class="product-info"
        style="background-color: #f5f5f5; padding: 20px; border-radius: 5px"
      >
        <h2>{{ animal.name }}</h2>
        <p>
          <span class="dog_info"><strong>Age:</strong></span> {{ animal.age }}
        </p>
        <p>
          <span class="dog_info"><strong>Description:</strong></span>
          {{ animal.description }}
        </p>
        <p>
          <span class="dog_info"><strong>Breed:</strong></span>
          {{ animal.breed }}
        </p>
      </div>
      <div
        *ngIf="animal"
        class="product-specs mt-3"
        style="background-color: white; padding: 20px; border-radius: 5px"
      >
        <div *ngIf="animal">
          <form
            class="booking-form"
            [formGroup]="bookingForm"
            (ngSubmit)="onSubmit()"
          >
            <label for="date">Дата:</label>
            <input type="date" formControlName="date" id="date" />

            <label for="time">Час початку:</label>
            <input type="time" formControlName="startTime" id="startTime" />

            <label for="endTime">Час закінчення:</label>
            <input type="time" formControlName="endTime" id="endTime" />

            <button class="btn-submit" type="submit">
              Забронювати прогулянку
            </button>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="animal" class="col-md-6">
      <div *ngFor="let image of animal.images" class="card mb-4">
        <img [src]="image" class="card-img-top" alt="{{ animal.name }}" />
      </div>
    </div>
  </div>
</div>
