<div class="mainbox">
  <div class="img">
    <img src="../../../assets/team1.jpg" alt="">
    <button [routerLink]="'/admin'">Back</button>
  </div>
  <div class="user-box">
    <div class="users" *ngFor="let user of users">
      <div class="user-info">
        <span>{{ user.firstName }} {{ user.secondName }}</span>
        <span>{{ user.email }}</span>
      </div>
      <div class="btnn">
        <button (click)="changeRole(user.id)">{{ user.isAdmin ? "Change to user" : "Make admin" }}</button>
        <button *ngIf="user.id != currentUserId" (click)="delete(user.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
