<div class="main">
    <div class="container d-flex justify-content-center align-items-center">
        
    </div>
    <section class="section">
        <div class="container">
    
          
    
            <div class="about">
                <div [routerLink]="'/admin-animal'" class="about__item">
                    <div  class="about__img">
                        <img src="../assets/img1.13.jpg" alt="">
                    </div>
                    <div class="about__text">Animal</div>
                </div>
    
                <div [routerLink]="'/admin-product'" class="about__item">
                    <div class="about__img">
                        <img src="../assets/img221.jpg" alt="">
                    </div>
                    <div class="about__text">Products</div>
                </div>
    
                <div class="about__item">
                    <div class="about__img">
                        <img src="../assets/img33.jpg" alt="">
                    </div>
                    <div class="about__text">Orders</div>
                </div>
            </div>
    
        </div>
        <!-- /.container -->
    </section>
    </div>
    