<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<body>
  <div class="container">
    <h2 class="animal_title">Тваринки в притулку</h2>
    <div class="grid-temp">
      <div *ngFor="let animal of animals" class="animal_container">
        <main>
          <div  class="card">
            <img [src]="animal.image" class="card-img-top" alt="{{ animal.name }}" />
            <div class="card-content">
              <h2>Name: {{ animal.name }}</h2>
              <p>
                Breed: {{ animal.breed }}<br />
                Age: {{ animal.age }}
                {{ animal.description }}
              </p>
              <a
                class="button"
                [routerLink]="'/currentanimal/' + animal.animalId"
              >
                More info<span class="material-symbols-outlined">
                  arrow_right_alt
                </span>
              </a>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</body>